<div class="planning-container">

    <div id="employeeColumn" class="employee-column"></div>

    <div id="datesContainer" class="dates-container">
        <div id="datesGrid" class="dates-grid"></div>
    </div>

</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
    const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
    const isoDate = new Date().toISOString().split("T")[0];
    const employeeColumn = document.getElementById("employeeColumn");
    const datesContainer = document.getElementById("datesContainer");
    const datesGrid = document.getElementById("datesGrid");

    let solde = 0;

    const query = new URLSearchParams(window.location.search);

    const defaultLine = query.get("line") || "L1";
    const defaultDepartement = query.get("departement") || "FINISHING";

    let employees = [];
    let leaves = [];

    const year = 2026;
    let currentStartDate = new Date(new Date().getFullYear(), new Date().getMonth(), 1);
    let currentEndDate = new Date(new Date().getFullYear(), new Date().getMonth() + 2, 0);
    const startMonth = new Date().getMonth() + 1;
    const endMonth = startMonth + 2;

    const lineElement = document.getElementById("lineFilter");
    const departementElement = document.getElementById("departementFilter");

    lineElement.addEventListener("change", loadPlanning);
    departementElement.addEventListener("change", loadPlanning);

    let firstTime = true;

    async function loadPlanning() {

        var line = lineElement.value || defaultLine;
        var departement = departementElement.value || defaultDepartement;

        if (firstTime) {
            line = defaultLine;
            departement = defaultDepartement;
            firstTime = false;
            lineElement.value = defaultLine;
            departementElement.value = defaultDepartement;
        }

        const year = 2026;
        const startMonth = 1;
        const endMonth = 3;
        const skip = 0;
        const take = 20;

        const employeeUrl = `http://localhost:3000/employee/find-all?line=${line}&departement=${departement}&skip=${skip}&take=${take}`;

        const res = await fetch(employeeUrl);

        if (!res.ok) {
            console.error("Erreur API");
            return;
        }

        const data = await res.json();

        employees = data.data;

        const leaveUrl = `http://localhost:3000/leave/range?year=${year}&startMonth=${startMonth}&endMonth=${endMonth}&line=${line}&departement=${departement}`;

        const resLeave = await fetch(leaveUrl);

        leaves = await resLeave.json();

        // leaves = data.leaves;

        renderEmployees();
        renderCalendar();
    }

    function renderEmployees() {

        employeeColumn.innerHTML = "";

        // Header
        employeeColumn.innerHTML += `
  <div class="employee-row header-row">
    <div class="header-cell">EMPLOYEES</div>
    <div class="header-cell">CUMULÉ</div>
    <div class="header-cell">PRIS</div>
    <div class="header-cell">RESTANT</div>
  </div>
`;

        employees.forEach(emp => {

            // Exemple de calcul (à adapter selon tes données)
            const cumule = emp.solde_cumul || 0;
            const prises = emp.solde_pris || 0;
            const restant = emp.solde_restant || 0;

            employeeColumn.innerHTML += `
    <div class="employee-row">
      <div class="employee-cell leave-bar-text">${emp.fullname}</div>
      <div class="employee-cell text-center">${cumule}</div>
      <div class="employee-cell text-center">${prises}</div>
      <div class="employee-cell text-center">${restant}</div>
    </div>
  `;
        });
    }

    function renderCalendar() {

        datesGrid.innerHTML = "";

        const days = generateDays(currentStartDate, currentEndDate);
        datesGrid.style.gridTemplateColumns = `repeat(${days.length}, 40px)`;

        days.forEach(day => {
            const cell = document.createElement("div");
            const toDay = new Date();
            toDay.setHours(0);
            toDay.setMinutes(0);
            toDay.setSeconds(0);
            toDay.setMilliseconds(0);

            day.setHours(0);
            day.setMinutes(0);
            day.setSeconds(0);
            day.setMilliseconds(0);

            cell.classList.add("day-header");
            // cell.className = "day-header";
            if (day >= toDay && day <= toDay) {
                cell.classList.add("header-today");
                cell.dataset.date = isoDate;
            }

            if (day.getDay() === 0) {
                cell.classList.add("day-off");
            }

            const month = day.toLocaleString("default", { month: "short" });
            const date = day.getDate();

            cell.innerHTML = `<div>${month}</div><div>${date}</div>`;
            const tooltip = new bootstrap.Tooltip(cell, {
                title: day.toLocaleDateString('fr-FR', {
                    day: '2-digit',
                    month: '2-digit',
                    year: 'numeric'
                }),
                placement: "top",
                trigger: "hover focus",
                container: "body"
            });
            datesGrid.appendChild(cell);
        });

        let z = 100;
        employees.forEach(emp => {

            days.forEach(day => {

                const cell = document.createElement("div");
                leaves.forEach(leave => {
                    const start_date = new Date(leave.start_date);
                    const end_date = new Date(leave.start_date);
                    const start_date_1 = new Date(start_date);
                    start_date_1.setDate(start_date.getDate() - 1);
                    cell.classList.add("day-cell");
                    if (leave.employee.id == emp.id && day >= start_date_1 && day <= end_date && leave.leave_type != "Medical_Leave_AMD") {
                        cell.classList.add("leave-" + leave.leave_type.replace(/\s+/g, "_"));
                        const numberOfDays = getNumberOfDays(leave.start_date, leave.end_date);
                        const widthPerDay = 40;
                        cell.style.width = (numberOfDays * widthPerDay) + 'px';
                        cell.style.zIndex = z;
                        z++;
                        cell.setAttribute("data-bs-toggle", "popover");
                        cell.setAttribute("data-bs-title", day.toLocaleDateString("fr-FR", {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        }));
                        cell.setAttribute("data-bs-cell-type", "leave");
                        start_date.setDate(start_date.getDate() + 1)
                        end_date.setDate(end_date.getDate() + 1)
                        cell.setAttribute("data-bs-leave", leave.leave_type + " (" + start_date.toLocaleDateString("fr-FR", {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        }) + " - " + end_date.toLocaleDateString("fr-FR", {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        }) + ")");
                        const wrapper = document.createElement('div');
                        wrapper.style.width = "100%";
                        wrapper.style.height = "100%";
                        wrapper.innerHTML = leave.leave_type
                        wrapper.setAttribute("data-bs-toggle", "popover");
                        wrapper.setAttribute("data-bs-title", emp.fullname);
                        wrapper.setAttribute("data-bs-html", "true");
                        wrapper.setAttribute("data-bs-content", `<b>Matricule:</b> ${emp.matricule}<br><b>Leave Type:</b> ${leave.leave_type}
                            <br><b>Start Date:</b> ${start_date_1.toLocaleDateString('fr-FR', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        })}<br><b>End Date:</b> ${end_date.toLocaleDateString('fr-FR', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric'
                        })}
                            <br>`);
                        wrapper.setAttribute("data-bs-placement", "top");
                        wrapper.classList.add("leave-bar-text");
                        new bootstrap.Popover(wrapper, {
                            container: 'body'
                        });
                        cell.appendChild(wrapper);
                    }
                    const toDay = new Date();
                    toDay.setHours(0);
                    toDay.setMinutes(0);
                    toDay.setSeconds(0);
                    toDay.setMilliseconds(0);

                    day.setHours(0);
                    day.setMinutes(0);
                    day.setSeconds(0);
                    day.setMilliseconds(0);

                    if (day >= toDay && day <= toDay) {
                        cell.classList.add("today");
                    }

                    if (day.getDay() === 0) {
                        cell.classList.add("day-off");
                    }
                });

                if (cell.getAttribute("data-bs-cell-type") == "leave") {
                    const tooltip = new bootstrap.Tooltip(cell, {
                        title: "" + cell.getAttribute("data-bs-leave"),
                        placement: "bottom",
                        trigger: "hover focus",
                        container: "body"
                    });
                } else {
                    const tooltip = new bootstrap.Tooltip(cell, {
                        title: day.toLocaleDateString('fr-FR', {
                            day: '2-digit',
                            month: '2-digit',
                            year: 'numeric',
                        }),
                        placement: "bottom",
                        trigger: "hover focus",
                        container: "body"
                    });
                    cell.addEventListener('click', () => {
                        tooltip.hide();
                    });
                }

                datesGrid.appendChild(cell);
            });

        });

    }

    function scrollToToday() {
        const container = document.querySelector(".dates-container");
        const today = new Date().toISOString().split("T")[0];

        const todayCell = document.querySelector(`[data-date="${today}"]`);

        if (todayCell) {
            const left = todayCell.offsetLeft;

            container.scrollTo({
                left: left - 600,
                behavior: "auto"
            });
        }
    }
    function getNumberOfDays(startDateStr, endDateStr) {
        const start = new Date(startDateStr);
        const end = new Date(endDateStr);
        const diffTime = end - start;
        const diffDays = diffTime / (1000 * 60 * 60 * 24);
        return diffDays + 1;
    }
    datesContainer.addEventListener("scroll", () => {

        const scrollLeft = datesContainer.scrollLeft;
        const maxScroll = datesContainer.scrollWidth - datesContainer.clientWidth;

        // 👉 Si on arrive à droite
        if (scrollLeft >= maxScroll - 5) {
            addNextMonth();
        }

        // 👉 Si on arrive à gauche
        if (scrollLeft <= 5) {
            addPreviousMonth();
        }
    });

    employeeColumn.addEventListener("scroll", () => {
        datesContainer.scrollTop = employeeColumn.scrollTop;
    });
    function waitForTodayAndScroll() {
        const container = document.querySelector(".dates-container");
        const today = new Date().toISOString().split("T")[0];

        const observer = new MutationObserver(() => {
            const todayCell = document.querySelector(`[data-date="${today}"]`);
            if (todayCell) {
                scrollToToday();
                observer.disconnect();
            }
        });

        observer.observe(document.querySelector("#datesGrid"), {
            childList: true,
            subtree: true
        });
    }

    function generateDays(startDate, endDate) {
        const days = [];
        let current = new Date(startDate);

        while (current <= endDate) {
            days.push(new Date(current));
            current.setDate(current.getDate() + 1);
        }

        return days;
    }
    async function addNextMonth() {

        const nextMonthStart = new Date(currentEndDate.getFullYear(), currentEndDate.getMonth() + 1, 1);
        const nextMonthEnd = new Date(nextMonthStart.getFullYear(), nextMonthStart.getMonth() + 1, 0);

        await loadLeavesForRange(nextMonthStart, nextMonthEnd);

        currentEndDate = nextMonthEnd;

        renderCalendar();
    }

    async function addPreviousMonth() {

        const prevMonthStart = new Date(currentStartDate.getFullYear(), currentStartDate.getMonth() - 1, 1);
        const prevMonthEnd = new Date(currentStartDate.getFullYear(), currentStartDate.getMonth(), 0);

        await loadLeavesForRange(prevMonthStart, prevMonthEnd);

        currentStartDate = prevMonthStart;

        renderCalendar();

        setTimeout(() => {
            datesContainer.scrollLeft = 200;
        }, 50);
    }

    async function loadLeavesForRange(startDate, endDate) {

        const line = lineElement.value || defaultLine;
        const departement = departementElement.value || defaultDepartement;

        const newYear = startDate.getFullYear();
        const newStartMonth = startDate.getMonth();
        const newEndMonth = endDate.getMonth();

        const leaveUrl = `http://localhost:3000/leave/month-line-departement?year=${newYear}&month=${newStartMonth}&line=${line}&departement=${departement}`;

        const res = await fetch(leaveUrl);

        if (!res.ok) return;

        const newLeaves = await res.json();

        // 🔥 fusionner sans doublons
        newLeaves.forEach(newLeave => {
            const exists = leaves.some(l => l.id === newLeave.id);
            if (!exists) {
                leaves.push(newLeave);
            }
        });
    }
    loadPlanning();
    waitForTodayAndScroll();

</script>