<nav class="nxl-navigation">
    <div class="navbar-wrapper">
        <div class="m-header">
            <a href="/" class="b-brand">
                <!-- ========   change your logo hear   ============ -->
                <img src="/assets/images/logo-full.png" alt="" class="logo logo-lg">
                <img src="/assets/images/logo-abbr.png" alt="" class="logo logo-sm">
            </a>
        </div>
        <div class="navbar-content">
            <ul class="nxl-navbar">
                <li class="nxl-item nxl-caption">
                    <label>Navigation</label>
                </li>
                <li class="nxl-item nxl-hasmenu">
                    <a href="javascript:void(0);" class="nxl-link">
                        <span class="nxl-micon"><i class="feather-calendar"></i></span>
                        <span class="nxl-mtext">Leaves</span><span class="nxl-arrow"><i
                                class="feather-chevron-right"></i></span>
                    </a>
                    <ul class="nxl-submenu">
                        <li class="nxl-item"><a class="nxl-link" href="/leave/planning-view">Planning</a></li>
                        <% if(user.role !=="USER" ) { %>
                            <li class="nxl-item"><a class="nxl-link" href="/leave/new-leave">New leave</a></li>
                            <% } %>
                                <li class="nxl-item"><a class="nxl-link" href="/leave/simulate-leave">Simulation</a>
                                </li>
                                <li class="nxl-item"><a class="nxl-link" href="/leave/leave-history">Leave history</a>
                                </li>
                    </ul>
                </li>
                <% if(user.role !=="USER" ) { %>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-users"></i></span>
                            <span class="nxl-mtext">Employees</span><span class="nxl-arrow"><i
                                    class="feather-chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="/employee/import-master-file">Import from
                                    Master
                                    File</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nxl-item nxl-hasmenu">
                        <a href="javascript:void(0);" class="nxl-link">
                            <span class="nxl-micon"><i class="feather-at-sign"></i></span>
                            <span class="nxl-mtext">Users</span><span class="nxl-arrow"><i
                                    class="feather-chevron-right"></i></span>
                        </a>
                        <ul class="nxl-submenu">
                            <li class="nxl-item"><a class="nxl-link" href="/user/list">User list</a></li>
                            <li class="nxl-item"><a class="nxl-link" href="/user/new-user">New user</a></li>
                        </ul>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>
</nav>