<!-- Modal Planifier Congé -->
<div class="modal fade" id="simulationModal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Simuler congé</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <form method="POST" action="/leave/new-leave" id="formSimulation">
                <div class="modal-body">
                    <div class="row">

                        <!-- ===== LEFT: FORM ===== -->
                        <div class="col-md-6 border-end">

                            <!-- Recherche Employé -->
                            <div class="mb-3">
                                <label class="form-label">Employé</label>
                                <input type="text" class="form-control" id="employeeSearch1" autocomplete="off"
                                    placeholder="Rechercher un employé...">
                                <input type="text" class="input" name="employee" id="employee1" hidden required>
                                <input type="text" class="input" name="matricule" id="matricule1" hidden required>
                                <ul id="employeeResults1" class="autocomplete-list ms-1 ps-0"></ul>
                            </div>

                            <!-- Type -->
                            <div class="mb-3 d-none">
                                <label class="form-label">Type de congé</label>
                                <select class="form-select" name="leave_type" id="leave_type1">
                                    <option value="Local_Leave_AMD" selected>Congés annuel</option>
                                </select>
                            </div>

                            <!-- Date début -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Date début</label>
                                    <input type="date" class="form-control" name="start_date" id="startDate1">
                                </div>

                                <!-- Date fin -->
                                <div class="col-md-6">
                                    <label class="form-label">Date fin</label>
                                    <input type="date" class="form-control" name="end_date" id="endDate1">
                                </div>
                            </div>

                            <!-- Raison -->
                            <div class="mb-3">
                                <label class="form-label">Raison (facultatif)</label>
                                <textarea class="form-control" name="reason1" rows="3"></textarea>
                            </div>
                            <!-- <input type="submit" hidden> -->

                        </div>

                        <!-- ===== RIGHT: INFOS ===== -->
                        <div class="col-md-6">

                            <div class="card mb-3 shadow-sm">
                                <div class="card-header text-center fw-bold">
                                    Solde actuel
                                </div>
                                <div class="card-body">
                                    <p class="mb-2">
                                        <strong>Solde cumulés :</strong>
                                        <span id="soldeCumule1">-</span>
                                    </p>
                                    <p class="mb-2">
                                        <strong>Solde pris :</strong>
                                        <span id="soldePris1">-</span>
                                    </p>
                                    <p class="mb-0">
                                        <strong>Solde restant :</strong>
                                        <span id="soldeRestant1" class="fw-bold text-primary">-</span>
                                    </p>
                                </div>
                            </div>

                            <div class="card mb-3 shadow-sm">
                                <div class="card-header text-center fw-bold">
                                    Solde simulé
                                </div>
                                <div class="card-body">
                                    <p class="mb-2">
                                        <strong>Solde cumulés :</strong>
                                        <span id="soldeCumule2">-</span>
                                    </p>
                                    <p class="mb-2">
                                        <strong>Solde pris :</strong>
                                        <span id="soldePris2">-</span>
                                    </p>
                                    <p class="mb-0">
                                        <strong>Solde restant :</strong>
                                        <span id="soldeRestant2" class="fw-bold text-primary">-</span>
                                    </p>
                                    <hr>
                                    <div class="d-grid gap-2">
                                        <button type="submit" form="formSimulation" class="btn btn-success" disabled
                                            id="submit1">
                                            Planifier
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12 text-center">
                            <p id="message1" class="fw-bold"></p>
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Annuler
                </button>
                <button type="button" class="btn btn-primary" id="simulateButton">
                    Simuler
                </button>
            </div>

        </div>
    </div>
</div>
<script>
    var message = "";

    const input1 = document.getElementById('employeeSearch1');
    const results1 = document.getElementById('employeeResults1');
    const hiddenInput1 = document.getElementById('employee1');
    const hiddenInputMatricule1 = document.getElementById('matricule1');
    const reasonInput1 = document.getElementById('reason1');
    const submitButton1 = document.getElementById('submit1');
    const simulateButton = document.getElementById('simulateButton');
    const formSimulation = document.getElementById('formSimulation');

    const startDate1 = document.getElementById('startDate1');
    startDate1.value = new Date().toISOString().split("T")[0];
    const endDate1 = document.getElementById('endDate1');
    endDate1.value = new Date().toISOString().split("T")[0];
    // const hiddenInput = document.getElementById('employee');

    let timeout1 = null;
    // startDate1.addEventListener('change', checkSimulationLeave);
    // endDate1.addEventListener('change', checkSimulationLeave);

    // submitButton1.addEventListener('click', async () => {
    //     // formSimulation.submit();
    //     try {
    //         const res = await fetch(`/leave/new-leave`, {
    //             method: 'POST',
    //             headers: {
    //                 'Content-Type': 'application/json',
    //             },
    //             body: JSON.stringify({
    //                 employee: hiddenInput1.value,
    //                 reason: reasonInput1.value,
    //                 startDate: startDate1.value,
    //                 endDate: endDate1.value,
    //             }),
    //         });

    //         if (!res.ok) {
    //             console.error('HTTP error', res.status);
    //             return;
    //         }

    //         const data = await res.json();

    //         // results1.innerHTML = '';
    //         // data.forEach(emp => {
    //         //     const li = document.createElement('li');
    //         //     li.classList.add('list-group-item');
    //         //     // li.classList.add('autocomplete-list-item');
    //         //     li.textContent = `${emp.matricule} - ${emp.fullname}`;
    //         //     li.onclick = () => {
    //         //         input1.value = li.textContent;
    //         //         hiddenInput1.value = emp.id;
    //         //         hiddenInputMatricule1.value = emp.matricule;
    //         //         soldeCumule1.textContent = emp.solde_cumul;
    //         //         soldePris1.textContent = emp.solde_pris;
    //         //         soldeRestant1.textContent = emp.solde_restant;
    //         //         solde = emp.solde_restant;
    //         //         checkSimulationLeave();
    //         //         results1.innerHTML = '';
    //         //     };
    //         //     results1.appendChild(li);
    //         // });

    //     } catch (err) {
    //         console.error('Autocomplete error:', err);
    //     }
    // });

    simulateButton.addEventListener('click', checkSimulationLeave);

    const soldeCumule1 = document.getElementById('soldeCumule1');
    const soldePris1 = document.getElementById('soldePris1');
    const soldeRestant1 = document.getElementById('soldeRestant1');

    const soldeCumule2 = document.getElementById('soldeCumule2');
    const soldePris2 = document.getElementById('soldePris2');
    const soldeRestant2 = document.getElementById('soldeRestant2');

    let solde_simulate = 0;

    input1.addEventListener('input', () => {
        clearTimeout(timeout1);

        const query = input1.value.trim();
        if (query.length < 2) {
            results1.innerHTML = '';
            return;
        }

        timeout1 = setTimeout(async () => {
            try {
                const res = await fetch(`/employee/finding/search-list?q=${query}`);

                if (!res.ok) {
                    console.error('HTTP error', res.status);
                    return;
                }

                const data = await res.json();

                results1.innerHTML = '';
                data.forEach(emp => {
                    const li = document.createElement('li');
                    li.classList.add('list-group-item');
                    // li.classList.add('autocomplete-list-item');
                    li.textContent = `${emp.matricule} - ${emp.fullname}`;
                    li.onclick = () => {
                        input1.value = li.textContent;
                        hiddenInput1.value = emp.id;
                        hiddenInputMatricule1.value = emp.matricule;
                        soldeCumule1.textContent = emp.solde_cumul;
                        soldePris1.textContent = emp.solde_pris;
                        soldeRestant1.textContent = emp.solde_restant;
                        solde = emp.solde_restant;
                        // checkSimulationLeave();
                        results1.innerHTML = '';
                    };
                    results1.appendChild(li);
                });

            } catch (err) {
                console.error('Autocomplete error:', err);
            }
        }, 300);
    });

    function checkSimulationLeave() {
        console.log("Matricule:", hiddenInputMatricule1.value);
        console.log("Date:", startDate1.value);
        const simulation = fetch('/leave/simulate-cumul-balance', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                matricule: hiddenInputMatricule1.value,
                date: startDate1.value,
            }),
        }).then(res => res.json()).then(data => {
            console.log("Data:", data);
            solde_simulate = data.solde_restant;
            solde_pris_simulate = data.solde_pris;
            solde_cumule_simulate = data.solde_cumul;
            const startDate = document.getElementById('startDate1').value;
            const endDate = document.getElementById('endDate1').value;
            const messageContainer = document.getElementById('message1');

            soldeCumule2.textContent = solde_cumule_simulate;
            soldePris2.textContent = solde_pris_simulate;
            soldeRestant2.textContent = solde_simulate;
            // const solde = document.getElementById('soldeRestant').textContent;
            const numberOfDays = getNumberOfDays(startDate, endDate);
            console.log("NUMBER OF DAYS:", numberOfDays)
            if (!checkDate(startDate, endDate) || numberOfDays <= 0) {
                submitButton1.disabled = true;
                messageContainer.innerHTML = "Date invalide";
                messageContainer.style.color = "red";
            } else if ((solde === null || solde === undefined || solde === "")) {
                submitButton1.disabled = true;
                messageContainer.innerHTML = "Veuillez choisir un employé";
                messageContainer.style.color = "red";
            } else if (leaveType.value === 'Local_Leave_AMD' && numberOfDays >= solde_simulate) {
                submitButton1.disabled = true;
                messageContainer.innerHTML = "Solde de congé: " + solde_simulate + " jours. Insuffisant pour cette demande (" + numberOfDays + " jours)";
                messageContainer.style.color = "red";
            } else {
                submitButton1.disabled = false;
                messageContainer.style.color = "green";
                messageContainer.innerHTML = "Congé valable pour la demande de " + numberOfDays + " jours.";
            }
        });
    }

</script>